html,body{
    height: 100%;
    margin: 0px;
    padding:0px;
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}
/*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome 
}
*/
.App{
    display: flex;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background:floralwhite;  /* Optional: just make scrollbar invisible */
    height: 5px;
  
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #1f1f1f;
}
@media (min-width: 1px) and (max-width: 426px) {
    .App{
        display: unset;
    
        
    }
    html,body{
        height: 100%;
        margin: 0px;
        padding:0px;
        width: 100%;
        overflow-y: scroll;
    }
   }

.container-fluid{
    height: 100%;
}